<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	
	<style type="text/css">
		.desp {
			margin:auto;
			width:80%;
			margin-bottom:10px;
			text-align:left;
		}
		.desp span {			
			font-size:14px;
		}
		.list {
			margin:auto;
			width:80%;
			text-align:left;
		}
		.list li {
			list-style:none;
		}
		.list a {
			font-size:14px;
		}
	</style>
</head>
<body>
<div class="desp">
	<span>演示地址：</span>
</div>
<div class="list">
	<ul>
		<li><a href="/posttest">post请求</a></li>
		<li><a href="/gettest">get请求</a></li>
		<li><a href="/snapshot?m=showPage">下载请求</a></li>
	</ul>
</div>

</body>
</html>
